* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8899ac;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 700px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.container h2 {
    font-size: 30px;
    margin-bottom: 40px;
    position: relative;
}

.container h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background-color: #8899ac;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.container blockquote {
    font-size: 24px;
    min-height: 110px;
}

.container blockquote::before, .container blockquote::after {
    content: '"';
}

.container span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.container span::before {
    content: '';
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background-color: #8899ac;
    position: absolute;
    top: 50%;
    left: -30px;
}

.container div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container button {
    background-color: #15202b;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #15202b;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.container button img {
    width: 20px;
    margin-right: 10px;
}

.container button:nth-child(2) {
    background-color: transparent;
    color: #333;
}